<div class="{{class}}" id="{{id}}">
  <h2>Buttons</h2>

    <h4>Primary button</h4>

    <a href="#" class="btn btn--brand">
      Buy Credits
    </a>

    <a href="#" class="btn btn--white">
      Cansel
    </a>

    <h4>Button with icon</h4>

    <a href="#" class="btn btn--brand">
      <i class="icon icon-mail"></i>
      Send Message
    </a>

    <a href="#" class="btn btn--white">
      <i class="icon icon-heart"></i>
      Send Wink
    </a>

    <h4>Gradient buttons</h4>
    <a href="#" class="btn btn--orange-gradient">
      Add new group
    </a>

    <a href="#" class="btn btn--brand-gradient">
      Become VIP
    </a>


    <h4>Size</h4>

    <div class="row">
      <div class="col-xs-4">
        <a href="#" class="btn btn--brand btn--lg">
          Buy Credits
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <a href="#" class="btn btn--brand btn--sm">
          Buy Credits
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <a href="#" class="btn btn--brand">
          Buy Credits
        </a>
      </div>
    </div>




    <h4>Styles</h4>

    <a href="#" class="btn btn--brand">
      Default
    </a>

    <a href="#" class="btn btn--brand">
      <i class="icon icon-mail"></i>
      With icon
    </a>

    <a href="#" class="btn btn--circle">
      <i class="icon icon-star"></i>
    </a>

    <a href="#" class="btn btn--white-with-shadow">
      Advanced filters
    </a>

    <a href="#" class="btn btn--white">
      Send Wink
    </a>

</div>