<div class="{{class}}" id="{{id}}">
  <h2>Color Palette</h2>

    <div class="color-palette__item">
      <div class="color-palette bg-black-primary"></div>
      <span>Primary Text color <br> #16161A</span>
    </div>

    <div class="color-palette__item">
      <div class="color-palette bg-secondary"></div>
      <span>Secondary Text color <br> #777d8f</span>
    </div>

    <div class="color-palette__item">
      <div class="color-palette bg-additional-1"></div>
      <span>Additional color <br> #BBBEC7</span>
    </div>

    <div class="color-palette__item">
      <div class="color-palette bg-additional-2"></div>
      <span>Block background color <br> #F2F4FA</span>
    </div>

    <div class="color-palette__item">
      <div class="color-palette" style="background:#1B4FAE;"></div>
      <span>Button hover color: <br> #1B4FAE</span>
    </div>

    <div class="color-palette__item">
      <div class="color-palette bg-primary"></div>
      <span>Primary color <br> #538CF3</span>
    </div>

    <div class="color-palette__item">
      <div class="color-palette gd-primary" style=""></div>
      <span>VIP Gradient: <br> #A173F5 — #63D9F6 <br>45ºE</span>
    </div>

    <div class="color-palette__item">
      <div class="color-palette gd-secondary"></div>
      <span>Accent Gradient: <br> #FF5B9C — #F9A765 <br>0ºE</span>
    </div>
</div>