<div class="{{class}}" id="{{id}}">
  <h2>Links</h2>

    <h4>Normal</h4>

    <div>
      <a href="#" class="link">Dating and Sex</a>
    </div>

    <br><br>

    <div>
      <a href="#" class="link link--light-gray">Dating and Sex</a>
    </div>

    <br><br>

    <div>

      <div class="action-buttons">
        <a href="#" class="action-buttons__link">
          <i class="icon icon-gift"></i>

          <div class="action-buttons__name">
            <span class="hide-sm">Send a compliment</span>
            <span class="visibility-sm">Compliment</span>
          </div>
        </a>
      </div>
    </div>

    <h4>Hover</h4>

    <div>
      <a href="#" class="link link--hover">Dating and Sex</a>
    </div>

    <br><br>

    <div>
      <a href="#" class="link link--light-gray link--light-gray--hover">Dating and Sex</a>
    </div>

    <br><br>

    <div>

      <div class="action-buttons">
        <a href="#" class="action-buttons__link hover">
          <i class="icon icon-gift"></i>

          <div class="action-buttons__name">
            <span class="hide-sm">Send a compliment</span>
            <span class="visibility-sm">Compliment</span>
          </div>
        </a>
      </div>

    </div>
</div>