<div class="{{class}}" id="{{id}}">
  <h2>Typography</h2>

  <h3>Titles</h3>
    <h1>H1, HEADING Roboto Medium 24 / 1.1 / #16161A</h1>
    <h2>H2, HEADING Roboto Medium 20 / 1.1 / #16161A</h2>
    <h3>H3, HEADING Roboto Medium 18 / 1.1 / #16161A</h3>
    <h4>H4, HEADING Roboto Medium 16 / 1.1 / #16161A</h4>
    <h5>H5, HEADING Roboto Medium 15 / 1.1 / #16161A</h5>
    <h6>H6, HEADING Roboto Medium 14 / 1.1 / #16161A</h6>

  <h3>Text</h3>

    <h4>Text style 1</h4>
    <p> Roboto Regular 14 / 1.2 / #16161A <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint sunt, recusandae facere qui natus alias dolorem, quae! Recusandae laudantium voluptas perferendis suscipit? Expedita obcaecati perspiciatis, reprehenderit accusantium dolorem repellendus id.</p>

    <h4>Text style 2</h4>
    <p class="text-secondary">Roboto Regular 14 / 1.2 / #777D8F <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint sunt, recusandae facere qui natus alias dolorem, quae! Recusandae laudantium voluptas perferendis suscipit? Expedita obcaecati perspiciatis, reprehenderit accusantium dolorem repellendus id.</p>

    <h4>Additional text 2</h4>
    <p class="text-small text-secondary"> Roboto Regular 12 / 1.2 / #777D8F <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint sunt, recusandae facere qui natus alias dolorem, quae! Recusandae laudantium voluptas perferendis suscipit? Expedita obcaecati perspiciatis, reprehenderit accusantium dolorem repellendus id.</p>
</div>