html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    * {
        box-sizing: border-box;
    }
}

//container
.container {
    padding: 0 15px;
    margin: 0 auto;
    border-left: 1px solid red;
    border-right: 1px solid red;
    @include media-breakpoint-up(md) {
        max-width: 750px;
    }
    @include media-breakpoint-up(lg) {
        max-width: 960px;
    }
    @include media-breakpoint-up(xl) {
        max-width: 1170px;
    }
}
//end container
