<header class="header mb-5">
    <div class="container">
        <h4>This is header</h4>
        <nav>
            <ul class="nav">
                <li class='{{#if home_page}}active{{/if}}'><a href="home.html">Home</a></li>
                <li class='{{#if about_page}}active{{/if}}'><a href="about.html">About</a></li>
                <li class='{{#if events_page}}active{{/if}}'><a href="example-events.html">Example events</a></li>
                <li class='{{#if events_page}}active{{/if}}'><a href="documentation.html" target="_blank">Documentation</a></li>
            </ul>
        </nav>
    </div>
</header>
